.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 700px;
    margin-top: 7rem;
    border-style: none;
    border-radius: 20px;
    background-color: #ced4da2f;
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
}
.box div{
    margin-top: 1.5rem;
}
.box h1{
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 40px;
}
.box .form-control{
    height: 60px;
    width: 29em;
    position: relative;
    left: 16%;
}
.box .btn{
    position: relative;
    left: 35%;
    height: 4rem;
    width:12rem;
    border-style:none;
    border-radius: 60px;
    background-color: rgba(170,0,255,1);
    font-size: x-large;
    margin-top: 20px;
    transition: 0.5s all ease;
    outline: none;
    z-index: 1;
}
.box .btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0%;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: "";
    background-color: rgba(47,64,233,1);
    border-radius: 60px;
}
.box .btn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
#logoIcon{
    position: absolute;
    bottom: 92.6%;
    left:7%;
    height: 110px;
}